IntervalProcessing/IntervalProcessing/configExample.json
IntervalProcessing/IntervalProcessing/databaseScript.js
IntervalProcessing/IntervalProcessing/Documentation.md
IntervalProcessing/IntervalProcessing/README.md